{%extends 'base.html' %}
{% load static %}

{% block title %}Confirm Dibs{% endblock %}

{% block content %}
  <h1>Hello, {{ name }}! Dibs on {{ quest.name }} from {{ quest.board.name }}?</h1>

  {{ form.non_field_errors }}
  {% for field in form %}
    {% if field.errors %}
      <p>{{ field.label }} has the following errors:</p>
      <ul>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}

  <div class="teacher_buttons_container">
    <a class="teacher_button" id="black_button" href="/board/student/{{ quest.board.pk }}">No</a>
    <a class="teacher_button" id="yellow_button" href="/confirm_dibs/{{ name }}/{{ quest.pk }}">Yes</a>
  </div>

{% endblock %}