{%extends 'base.html' %}
{% load static %}

{% block title %}List of Questboards{% endblock %}

{% block content %}
  <h1>List of Questboards</h1>

  {{ form.non_field_errors }}
  {% for field in form %}
    {% if field.errors %}
      <p>{{ field.label }} has the following errors:</p>
      <ul>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}

  <div class="questboard_list">
  {% for questboard in questboard_list %}
        <a href="/board/teacher/{{ questboard.pk }}">{{ questboard.name }}</a>
  {% endfor %}
  </div>
{% endblock %}
